{% extends 'base/architectui.html' %}
{% block main %}
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-ticket text-success">
                        </i>
                    </div>
                    <div>Cadastro de gêneros de livros</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Formulário de cadastro de gêneros de livros</h5>
                        <form method="post" class="">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    {{ form.descricao.label_tag }}
                                    {{ form.descricao }}
                                    <span style="color: red">{{ form.descricao.errors }}</span>
                                    <span style="color: red">{{ form.non_field_errors }}</span>
                                </div>
                                <div class="col-md-6">
                                    {{ form.link.label_tag }}
                                    {{ form.link }}
                                    <span style="color: red">{{ form.link.errors }}</span>
                                    <span style="color: red">{{ form.non_field_errors }}</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <button type="submit" class="mt-2 btn btn-primary">Atualizar</button>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                    {% if request.META.HTTP_REFERER %}
                                        <a href="{{request.META.HTTP_REFERER}}" class="mt-2 btn btn-primary">Voltar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
