{% extends 'base/base.html' %}
{% block title %}cadastro de livros{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="margin-top: 5%; margin-bottom: 5%">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span style="color: red">{{ form.non_field_errors }}</span>
                <div class="form-group">
                    {{ form.genre.label_tag }}
                    {{ form.genre }}
                    <span style="color: red">{{ form.genre.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.author.label_tag }}
                    {{ form.author }}
                    <span style="color: red">{{ form.author.errors }}</span>
                </div>
                 <div class="form-group">
                    {{ form.publishing_company.label_tag }}
                    {{ form.publishing_company }}
                    <span style="color: red">{{ form.publishing_company.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    <span style="color: red">{{ form.name.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    <span style="color: red">{{ form.description.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.capa.label_tag }}
                    {{ form.capa }}
                    <span style="color: red">{{ form.capa.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.price.label_tag }}
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        {{ form.price }}
                    </div>
                    <span style="color: red">{{ form.price.errors }}</span>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script>
        $(document).ready(function(){
            $('.money').mask('000,00', {reverse: true});
        });
    </script>
{% endblock %}