{% extends 'base/architectui.html' %}
{% block main %}
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-notebook text-success">
                        </i>
                    </div>
                    <div>Detalhes do livro</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Detalhes do livro {{ object.name }}</h5>
                        <form method="post" class="">
                            {% csrf_token %}
                            <div class="form-row" style="margin-top: 2%">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <label for="id_username">Nome</label>
                                    <input type="text" class="form-control" id="id_name" value="{{ object.name }}" readonly>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <label for="id_username">Preço</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">R$</div>
                                        </div>
                                        <input type="text" class="form-control" id="id_price" value="{{ object.price }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top: 2%">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <label for="id_username">Gênero</label>
                                    <input type="text" class="form-control" id="id_genero" value="{% for genero in object.genre.all %}{% if forloop.last %}{{ genero }}{% else %}{{ genero }}, {% endif %}{% endfor %}" readonly>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <label for="id_username">Autor</label>
                                    <input type="text" class="form-control" id="id_autor" value="{% for autor in object.author.all %}{% if forloop.last %}{{ autor }}{% else %}{{ autor }}, {% endif %}{% endfor %}" readonly>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top: 2%">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="id_username">Editora</label>
                                    <input type="text" class="form-control" id="id_editora" value="{% for editora in object.publishing_company.all %}{% if forloop.last %}{{ editora }}{% else %}{{ editora }}, {% endif %}{% endfor %}" readonly>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top: 2%">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="id_username">Capa</label><br>
                                    <img src="{{ object.book_cover.url }}" class="img-fluid img-thumbnail" style="width: 10%">
                                </div>
                            </div>
                            <div class="form-row" style="margin-top: 2%">
                                {% if request.META.HTTP_REFERER %}
                                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
