<header id="wn__header" class="header__area header__absolute sticky__header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <div class="logo">
                    <a href="index.html">
                        <img src="/static/boighor/images/logo/logo.png" alt="logo images">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 d-none d-lg-block">
                <nav class="mainmenu__nav">
                    <ul class="meninmenu d-flex justify-content-start">
                        <li class="drop with--one--item"><a href="index.html">Home</a></li>
                        <li class="drop"><a href="shop-grid.html">Categorias</a>
                            <div class="megamenu dropdown">
                                <ul class="item item03 book-genre">
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                    <li class="shop_search"><a class="search__active" href="#"></a></li>
                    {% if user.is_authenticated %}
                        <li class="wishlist"><a href="#"></a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="shopcart"><a class="cartbox_active" href="#"><span class="product_qun"></span></a>
                        <!-- Start Shopping Cart -->
                        <div class="block-minicart minicart__active">
                            <div class="minicart-content-wrapper">
                                <div class="micart__close">
                                    <span>close</span>
                                </div>
                                <div class="items-total d-flex justify-content-between">
                                    <span id="shopping_cart_count"></span>
                                    <span>Subtotal</span>
                                </div>
                                <div class="total_amount text-right">
                                    <span id="shopping_cart_subtotal"></span>
                                </div>
                                <div class="mini_action checkout">
                                    <a class="checkout__btn" href="cart.html">Go to Checkout</a>
                                </div>
                                <div class="single__items">
                                    <div class="miniproduct" id="container-itens">

                                    </div>
                                </div>
                                <div class="mini_action cart">
                                    <a class="cart__btn" href="cart.html">View and edit cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Shopping Cart -->
                    </li>
                    {% endif %}
                    <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                        <div class="searchbar__content setting__block">
                            <div class="content-inner">
                                <div class="switcher-currency">
                                    <strong class="label switcher-label">
                                        {% if user.is_authenticated %}
                                            <span>{{user.username}}</span>
                                        {% else %}
                                            <span>Minha conta</span>
                                        {% endif %}
                                    </strong>
                                    <div class="switcher-options">
                                        <div class="switcher-currency-trigger">
                                            <div class="setting__menu">
                                                {% if user.is_authenticated %}
                                                    <span><a href="{% url 'account_logout' %}">Logout</a></span>
                                                    {% if user.is_superuser or user.is_staff %}
                                                        <span><a href="{% url 'administrative' %}">Painel administrativo</a></span>
                                                    {% endif %}
                                                {% else %}
                                                    <span><a href="{% url 'account_signup' %}">Cadastro</a></span>
                                                    <span><a href="{% url 'account_login' %}">Login</a></span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start Mobile Menu -->
        <div class="row d-none">
            <div class="col-lg-12 d-none">
                <nav class="mobilemenu__nav">
                    <ul class="meninmenu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">About Page</a></li>
                                <li>Portfolio
                                    <ul>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li class="label2"><a href="portfolio.html">My Account</a>
                                    <ul>
                                        <li><a href="{% url 'user-create' %}">Cadastro</a></li>
                                        <li><a href="{% url 'account_login' %}">Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout Page</a></li>
                                <li><a href="wishlist.html">Wishlist Page</a></li>
                                <li><a href="error404.html">404 Page</a></li>
                                <li><a href="faq.html">Faq Page</a></li>
                                <li><a href="team.html">Team Page</a></li>
                            </ul>
                        </li>
                        <li><a href="">Books</a>
                            <ul class="book-genre">

                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a>
                            <ul>
                                <li><a href="blog.html">Blog Page</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Mobile Menu -->
        <div class="mobile-menu d-block d-lg-none">
        </div>
        <!-- Mobile Menu -->
    </div>
</header>
<script>
    (function() {
        ajax(
            {
                url: "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/genero/api/listas/",
                method: 'GET',
                sucesso(resposta) {
                    const result = JSON.parse(resposta)
                    generateGenreMenu(result)
                }, erro(e) {
                    const mensagem = document.createTextNode(`${e.code}:${e.text}`)
                    document.body.appendChild(mensagem)
                }
            }
        )

        ajax(
            {
                url: "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/carrinhos/",
                method: 'GET',
                sucesso(resposta) {
                    const result = JSON.parse(resposta)
                    shoppingCart(result)
                }, erro(e) {
                    console.log(resposta)
                }
            }
        )
    })();

    function generateGenreMenu(object){
        const list = document.getElementsByClassName('book-genre');
        const domain = "{{ request.get_host | safe}}";
        const schema = '{{ request.scheme | safe}}';
        object.forEach(obj => {
            for(let i = 0; i < list.length; i++){
                list[i].innerHTML += `<li><a href="${schema}://${domain}/livro/lista/${obj.link}/">${ obj.description }</a></li>`
            }
        });
    }

    function ajax(config){
        const xhr = new XMLHttpRequest()
        xhr.open(config.method, config.url, true)
        xhr.onload = e => {
            if (xhr.status === 200) {
                config.sucesso(xhr.response)
            } else if (xhr.status >= 400) {
                config.erro({
                    code: xhr.status,
                    text: xhr.statusText
                })
            }
        }
        xhr.send()
    }

    function shoppingCart(response){
        const getBook = (url) => {
            let Httpreq = new XMLHttpRequest()
            Httpreq.open("GET", url, false)
            Httpreq.send(null)
            const _json = Httpreq.responseText
            const _object = JSON.parse(_json)
            return _object
        }

        const shopping_cart = (Object.values(response))[0].item
        const get_book_pk = element => element.book
        const get_book = pk => getBook(`{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/livros/${pk}`)
        let books = shopping_cart.map(get_book_pk)
        books = books.map(get_book)
        let result = []
        let total = 0
        let amount = 0
        for(let i = 0; i <= books.length - 1; i++) {
            result.push({
                    'name':books[i].name,
                    'book_cover':books[i].book_cover,
                    'amount':shopping_cart[i].amount,
                    'price':shopping_cart[i].amount * books[i].price
                }
            )
            total += shopping_cart[i].amount * books[i].price
            amount += shopping_cart[i].amount
        }

        const _count = document.getElementById('shopping_cart_count')
        const _subtotal = document.getElementById('shopping_cart_subtotal')
        const _count_template = document.getElementsByClassName('product_qun')
        _subtotal.innerHTML = `R$${total}`
        _count_template[0].innerHTML = amount

         if(amount > 1){
            _count.innerHTML = amount + ' itens'
        }else {
            _count.innerHTML = amount + ' item'
        }

        GenerateShoppingCartItens(result)
    }

    function GenerateShoppingCartItens(books){
        const _container = document.getElementById('container-itens')
        books.forEach(function(book) {
            _container.innerHTML +=`
                 <div class="item01 d-flex mt--20">
                   <div class="thumb">
                    <a href="product-details.html"><img src="${book['book_cover']}" alt="product images"></a>
                        </div>
                            <div class="content">
                                <h6><a href="product-details.html">${ book['name'] }</a></h6>
                                 <span class="prize">R$${book['price']}</span>
                                    <div class="product_prize d-flex justify-content-between">
                                        <span class="qun">Quanidade: ${ book['amount'] }</span>
                                        <ul class="d-flex justify-content-end">
                                            <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                                             <li><a href="/carrinho/remover/${book['pk']}"><i class="zmdi zmdi-delete"></i></a></li>
                                        </ul>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
        })
    }
</script>